<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../jsonapi-helpers/jsonapi-settings.html">
<link rel="import" href="../jsonapi-helpers/jsonapi-resource.html">
<link rel="import" href="../sangha-material-project-card/sangha-material-project-card.html">

<dom-module id="sangha-top-projects">
  <template>
    <style>
      :host {
        display: block;
      }
      .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
      sangha-material-project-card {
        max-width: 30em;
        flex-grow: 1;
        margin: 1em;
      }
    </style>

    <jsonapi-settings api-root="[[ apiUrl ]]"></jsonapi-settings>
    <iron-ajax url="[[ apiUrl ]]/../settings/settings.json" last-response="{{ _settings }}" handle-as="json" auto="[[ apiUrl ]]"></iron-ajax>
    <jsonapi-resource id="projects" resource="projects" auto-get response="{{ _projects }}"></jsonapi-resource>

    <div class="flex">
      <template is="dom-repeat" items="[[ _displayProjects ]]">
        <sangha-material-project-card
          cart-available="[[ cartAvailable ]]"
          project="[[ item ]]"
          base-url="[[ _baseUrl ]]"
        ></sangha-material-project-card>
      </template>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class SanghaTopProjects extends Polymer.Element {
      static get is() { return 'sangha-top-projects'; }

      static get properties() {
        return {
          // (required) the backend url
          apiUrl: {
            type: String,
          },
          // base url for projects (defaults to settings api)
          baseUrl: {
            type: String,
          },
          // number of projects to show
          limit: {
            type: Number,
            value: 4,
          },
          // whether to show addToCart button
          cartAvailable: {
            type: Boolean,
            reflectToAttribute: true,
          },
          _projects: {
            type: Array,
          },
          _settings: {
            type: Object,
          },
          _displayProjects: {
            type: Array,
            computed: "__displayProjects(_projects, limit)",
          },
          _baseUrl: {
            type: String,
            computed: "__baseUrl(baseUrl, _settings)",
          },
        };
      }

      __displayProjects(projects, limit) {
        if (!projects) { return []; };
        if (limit && (projects.length - limit) > 0) {
          return projects.slice(0, limit);
        }
        return projects;
      }

      __baseUrl(overwrite, settings) {
        if (overwrite) {
          return overwrite;
        }
        return `${settings.baseUrl}/projects`;
      }
    }

    window.customElements.define(SanghaTopProjects.is, SanghaTopProjects);
  </script>
</dom-module>
