<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../jsonapi-helpers/jsonapi-settings.html">
<link rel="import" href="../jsonapi-helpers/jsonapi-resource.html">
<link rel="import" href="../sangha-material-checkout/sangha-material-checkout.html">

<dom-module id="sangha-donation-form">
  <template>
    <style>
      :host {
        --primary-color:  var(--paper-indigo-600);
        --secondary-color: var(--paper-indigo-50);

        display: block;
        max-width: 40em;
        padding: 1em;
      }
    </style>

    <jsonapi-settings api-root="[[ apiUrl ]]"></jsonapi-settings>
    <iron-ajax url="[[ apiUrl ]]/../settings/settings.json" last-response="{{ settings }}" handle-as="json" auto="[[ apiUrl ]]"></iron-ajax>
    <jsonapi-resource id="projects" resource="projects" filters="[[ _projectFilter ]]" auto-get="[[ _projectFilter ]]" response="{{ _projects }}"></jsonapi-resource>

    <sangha-material-checkout standalone cart-items="{{ _cart }}" gateways="[[ settings.paymentGateways ]]" donation-buttons="[[ buttons ]]"></sangha-material-checkout>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class SanghaDonationForm extends Polymer.Element {
      static get is() { return 'sangha-donation-form'; }

      static get properties() {
        return {
          // (required) the backend url
          apiUrl: {
            type: String,
          },
          // (required) the project ids in the cart
          projectIds: {
            type: Array,
            value: () => {
              return [];
            }
          },
          // (optional) button amounts in cents
          buttons: {
            type: Array,
          },
          // (optional) default donation amount in cents
          defaultAmount: {
            type: Number,
            value: 500,
          },
          _projects: {
            type: Object,
          },
          _projectFilter: {
            type: Object,
            computed: "__projectFilter(projectIds)",
          },
          _cart: {
            type: Object,
            computed: "__cart(_projects, defaultAmount)",
          },
        };
      }

      __projectFilter(ids) {
        return {
          ids,
        };
      }

      __cart(projects, amount) {
        if (!projects) { return []; };
        return projects.map((project) => {
          return {
            project,
            amount,
        }});
      }
    }

    window.customElements.define(SanghaDonationForm.is, SanghaDonationForm);
  </script>
</dom-module>
