<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../jsonapi-helpers/jsonapi-settings.html">
<link rel="import" href="../jsonapi-helpers/jsonapi-resource.html">
<link rel="import" href="../sangha-contributors/sangha-contributors.html">

<dom-module id="sangha-project-contributors">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <jsonapi-settings api-root="[[ apiUrl ]]"></jsonapi-settings>
    <jsonapi-resource resource="projects" resource-id="[[ projectId ]]" auto-get="[[ projectId ]]" response="{{ _project }}" single></jsonapi-resource>

    <sangha-contributors
      contributors="[[ _project.contributors ]]"
      small="[[ small ]]"
      large="[[ large ]]"
      overlap="[[ overlap ]]"
      max-contributors="[[ maxContributors ]]"
    ></sangha-contributors>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class SanghaProjectContributors extends Polymer.Element {
      static get is() { return 'sangha-project-contributors'; }

      static get properties() {
        return {
          // (required) the backend url
          apiUrl: {
            type: String,
          },
          // (required) the project id
          projectId: {
            type: String,
          },
          small: {
            type: Boolean,
            reflectToAttribute: true,
          },
          large: {
            type: Boolean,
            reflectToAttribute: true,
          },
          overlap: {
            type: Boolean,
            reflectToAttribute: true,
          },
          maxContributors: {
            type: Number,
          },
          _project: {
            type: Object,
          },
        };
      }
    }

    window.customElements.define(SanghaProjectContributors.is, SanghaProjectContributors);
  </script>
</dom-module>
